<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CongTyXayDungConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=CongTyXayDung;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CongTyXayDungConnectionString1"
            connectionString="Data Source=LAPTOP-DQ58LHVB\KATEPHAN;Initial Catalog=CongTyXayDung;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>